.myngDroplet-Preview
{
    border-top: 2px solid #B1B1B1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin-top: 0px;
}

.myngDroplet-Preview section.container
{
    width: 100%;
    margin: auto;
    display: block;
    vertical-align: middle;
}

.myngDroplet-Preview section.container section.droplet
{
    width: 100%;
    margin: auto;
    text-align: left;
    position: relative;
}

.myngDroplet-Preview section.container section.droplet droplet
{
    display: inline-block;
    z-index: 2;
    position: relative;
    border-radius: 2px;
    width: 100%;
    height: 125px;
    /* background-color: rgba(255, 255, 255, .1); */
    background-color: #4c4c4c;
    margin-top: -5px;
    padding-top: 5px;
    transition: box-shadow 0.35s;
}

.myngDroplet-Preview section.container section.droplet droplet commentpreview:after
{
    content: "Preview Only, Do Not Drop Pictures Here...";
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: inline-block;
    position: absolute;
    z-index: -1;
    /*font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;*/
    color: rgba(255, 255, 255, .65);
    text-decoration: none;
    /*font-weight: normal;*/
    font-size: 13px;
    line-height: 135px;
    text-align: center;
}

.myngDroplet-Preview section.container section.droplet droplet.event-dragover commentpreview:after
{
    content: "Oyeeeeeeeeeeeeeeeee ! Are you Not Watching ? DO NOT DROP IT HERE !";
}

.myngDroplet-Preview section.container section.droplet droplet ul.files 
{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 5px;
    list-style-type: none;
    transition: all .5s;
    /* background-color: #868686; */
    margin: 0px;
}

.myngDroplet-Preview section.container section.droplet droplet ul.files li 
{
    width: 100px;
    height: 100px;
    padding: 1px;
    float: right;
    position: relative;
    margin: 7px 15px 5px 2px;
}

.myngDroplet-Preview section.container section.droplet droplet ul.files li img.droplet-preview
{
    max-width: 96px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 96px;
    width: 96px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    border: 1px solid white;
    display: block;
}



.myngDroplet-Preview section.container section.droplet droplet ul.files li div.delete 
{
    background-color: rgba(0, 0, 0, .25);
    width: 50px;
    height: 50px;
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
    text-align: center;
    cursor: pointer;
    line-height: 50px;
    position: absolute;
    border-radius: 50%;
    z-index: 101;
    top: 25px;
    left: 25px;
    opacity: 0;
    transition: all .30s;
    transform: scale(0.5);
}

.myngDroplet-Preview section.container section.droplet droplet ul.files li:hover div.delete 
{
    opacity: 1;
    transform: scale(1);
}

.myngDroplet-Preview section.container section.droplet droplet ul.files li div.delete:hover 
{
    background-color: rgba(0, 0, 0, .45);
}

.myngDroplet-Preview section.container section.droplet droplet ul.files li div.size
{
    background-color: rgba(255, 255, 255, .5);
    position: absolute;
    bottom: 5px;
    right: 5px;
    pointer-events: none;
    font-size: 9px;
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    padding: 1px 4px;
}