<!-- PAGE CONTENT START -->
<div class="row-fluid">
    <div class="span12">

        <!-- WIDGET START -->
        <div class="widget">

            <!-- Widget Title Start -->
            <div class="widget-title">
                <h4> <!-- <i class="icon-globe"></i> -->Update House Detail</h4>
                           <span class="tools">
                           <a href="javascript:;" class="icon-chevron-down"></a>
                           <!-- <a href="javascript:;" class="icon-remove"></a> -->
                           </span>
            </div>
            <!-- Widget Title End -->

            <!-- Widget Body Start -->
            <div class="widget-body">
                <form action="#" class="form-horizontal">

                    <div class="control-group">
                        <div class="both-bg">
                            <label class="control-label" for="houseNo">House / Flat No:</label>
                            <div class="controls">
                                <input type="text" placeholder="Click to add house no" name="houseNO" id="houseNO" class="input-xlarge" autofocus required />
                                <span class="help-inline"></span>
                            </div>
                        </div>

                        <div class="both-bg">
                            <label class="control-label" for="rooms">Rooms</label>
                            <div class="controls">
                                <input type="text" name="rooms" id="rooms" placeholder="Add number of Rooms" class="input-xlarge" required />
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="both-bg">
                            <label class="control-label" for="blockNO">Block No:</label>
                            <div class="controls">
                                <input type="text" placeholder="add Block No" name="blockNo" id="blockNO" class="input-xlarge" autofocus required />
                                <span class="help-inline"></span>
                            </div>
                        </div>

                        <div class="both-bg">
                            <label class="control-label" for="street">Street</label>
                            <div class="controls">
                                <input type="text" name="street" id="street" placeholder="Add Street" class="input-xlarge" required />
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="both-bg">
                            <label class="control-label" for="sector">Sector</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" name="sector" id="sector" placeholder="Add sector" required />
                            </div>
                        </div>

                        <div class="both-bg">
                            <label class="control-label" for="Permenant_address">Mohallah</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" name="mohallah" id="mohallah" placeholder="Add mohallah" required />
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="both-bg">
                            <label class="control-label" for="colony">Colony</label>
                            <div class="controls">
                                <!--<select data-toggle="select" class="chosen input-xlarge" id="country" data-placeholder="Choose a Category" tabindex="1">-->
                                <select data-toggle="select" class="select select-default mrs mbm input-xlarge" name="colony" id="colony">
                                    <option value="">--Select Colony--</option>
                                    <option value="colony1">colony 1</option>
                                    <option value="colony2">colony 2</option>

                                </select>
                            </div>
                        </div>

                        <div class="both-bg">
                            <label class="control-label" for="city">City</label>
                            <div class="controls">
                                <select data-toggle="city" class="select select-default mrs mbm input-xlarge" name="city" id="city">
                                    <option value="">--Select City--</option>
                                    <option value="peshawar">peshawar</option>
                                    <option value="mardan">mardan</option>
                                    <option value="swabi">swabi</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="both-bg">
                            <label class="control-label" for="province">Province</label>
                            <div class="controls">
                                <!--<select data-toggle="select" class="chosen input-xlarge" id="country" data-placeholder="Choose a Category" tabindex="1">-->
                                <select data-toggle="select" class="select select-default mrs mbm input-xlarge" name="province" id="province">
                                    <option value="">--Select Province--</option>
                                    <option value="kpk">kpk</option>
                                    <option value="punjab">punjab</option>
                                    <option value="sindh">sindh</option>
                                    <option value="baluchistan">baluchistan</option>
                                    <option value="gilgitbaltistan">gilgit baltistan </option>
                                    <option value="fata">FATA</option>
                                    <option value="azadkashmir">Azad kashmir</option>
                                </select>
                            </div>
                        </div>

                    </div>



                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Update</button>
                        <button type="button" class="btn">Cancel</button>
                    </div>

                </form>
            </div>
            <!-- Widget Body End -->

        </div>
        <!-- WIDGET END -->

    </div>
</div>
<!-- PAGE CONTENT END -->