<!-- PAGE CONTENT START -->
<div class="row-fluid">
    <div class="span12">

        <!-- WIDGET START -->
        <div class="widget">

            <!-- Widget Title Start -->
            <div class="widget-title">
                <h4> <!-- <i class="icon-globe"></i> -->Employee Family</h4>
                           <span class="tools">
                           <a href="javascript:;" class="icon-chevron-down"></a>
                           <!-- <a href="javascript:;" class="icon-remove"></a> -->
                           </span>
            </div>
            <!-- Widget Title End -->

            <!-- Widget Body Start -->
            <div class="widget-body">
                <form action="#" class="form-horizontal">

                    <div class="control-group">
                        <div class="both-bg">
                            <label class="control-label" for="Name">Name</label>
                            <div class="controls">
                                <input type="text" placeholder="Name" id="Name" class="input-xlarge" autofocus required />
                                <span class="help-inline"></span>
                            </div>
                        </div>

                        <div class="both-bg">
                            <label class="control-label" for="relationship">Relationship</label>
                            <div class="controls">
                                <input type="text" name="relationship" id="relationship" placeholder="relationship" class="input-xlarge" required />
                                <span class="help-inline"></span>
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="both-bg">
                            <label class="control-label" for="age">Age</label>
                            <div class="controls">
                                <input type="text" name="age" id="age" class="input-xlarge tooltips" data-trigger="hover"  placeholder="age" required />
                                <span class="help-inline"></span>
                            </div>
                        </div>

                        <div class="both-bg">

                        </div>
                    </div>



                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Add Dependent</button>
                        <button type="button" class="btn">Cancel</button>
                    </div>

                </form>
            </div>
            <!-- Widget Body End -->

            <table align="center" class="table table-condensed table-striped table-hover no-margin" id="result">
                <thead>
                <tr>
                    <th style="width:3%">S.no</th>
                    <th style="width:17%"> Name</th>
                    <th style="width:17%">Relationship</th>
                    <th style="width:17%">Age</th>
                    <th style="width:17%">Action</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td style="width:3%">1</th>
                    <td style="width:17%">Asad</td>
                    <td style="width:17%">Causin</td>
                    <td style="width:17%">24 years</td>
                    <td style="width:17%">
                        <a href="" id="hide_btn" class="btn btn-inverse procced-btn"><i class="icon-edit"></i>EDIT</a>
                    </td>
                </tr>

                <tr>
                    <td style="width:3%">1</th>
                    <td style="width:17%">Asad</td>
                    <td style="width:17%">Causin</td>
                    <td style="width:17%">24 years</td>
                    <td style="width:17%">
                        <a href="" id="hide_btn" class="btn btn-inverse procced-btn"><i class="icon-edit"></i>EDIT</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <!-- WIDGET END -->

    </div>
</div>
<!-- PAGE CONTENT END -->