<!-- OVERVIEW STATISTIC BARS START-->
<div class="row-fluid">
    <div class="span12">
        <div class="row-fluid">
            <a href="#/basic_profile" class="icon-btn span2">
                <img src="img/general.jpg" height="32px" width="32px">
                <div>Basic Information</div>
            </a>

            <a href="#/add_employee_dependants" class="icon-btn span2">
                <img src="img/sds.png" height="32px" width="32px">
                <div>Employee's Dependants</div>
            </a>

            <a href="#/application" class="icon-btn span2">
                <img src="img/posting.png" height="32px" width="32px">
                <div>Application info</div>
            </a>
        </div>
    </div>
</div>
<!-- OVERVIEW STATISTIC BARS END -->

<!-- PAGE CONTENT START -->
<div class="row-fluid">
    <div class="span12">

        <!-- WIDGET START -->
        <div class="widget">

            <!-- Widget Title Start -->
            <div class="widget-title">
                <h4> <!-- <i class="icon-globe"></i> -->Blank Page</h4>
                           <span class="tools">
                           <a href="javascript:;" class="icon-chevron-down"></a>
                          <!-- <a href="javascript:;" class="icon-remove"></a>-->
                           </span>
            </div>
            <!-- Widget Title End -->

            <!-- Widget Body Start -->
            <div class="widget-body">
                <form action="#" class="form-horizontal">
                    <div class="span3">
                        <div class="text-center profile-pic">
                            <img src="img/Male_Profile.png" height="220px" width="220px">
                        </div>

                        <ul class="nav nav-tabs nav-stacked">
                            <li>
                                <a href="#/update_employee_info">
                                    <i class="icon-coffee"></i> Update Basic Information
                                </a>
                            </li>

                        </ul>
                    </div>

                    <div class="span4">
                        <h4> ABC <br>
                            <small> S/O: DEF</small></h4>
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <td class="span3"><b>CNIC No :</b></td>
                                <td>17301-000000-9</td>
                            </tr>
                            <tr>
                                <td class="span3"><b>Appointment Date :</b></td>
                                <td> 01-01-0000</td>
                            </tr>
                            <tr>
                                <td class="span3"><b>Division :</b></td>
                                <td>Peshawar</td>
                            </tr>
                            <tr>
                                <td class="span3"><b>Personal No :</b></td>
                                <td>200006</td>
                            </tr>
                            <tr>
                                <td class="span3"><b>District/Domicile :</b></td>
                                <td>Peshawar</td>
                            </tr>
                            <tr>
                                <td class="span3"><b>Domicile :</b></td>
                                <td>Peshawar</td>
                            </tr>
                            <tr>
                                <td class="span3"><b> Phone No :</b></td>
                                <td>0345-0000000</td>
                            </tr>
                            <tr>
                                <td class="span3"><b>Mobile No (For sms):</b></td>
                                <td>0345-0000000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="span5">
                        <h4>&nbsp;<br>&nbsp;</h4>
                        <table class="table table-borderless">
                            <tbody>
                            <tr>
                                <td class="span3"><b>Date of Entry To Govt :</b></td>
                                <td>01-01-0000</td>
                            </tr>
                            <tr>
                                <td class="span3"><b>Province :</b></td>
                                <td>KPK</td>
                            </tr>
                            <tr>
                                <td class="span3"><b>Date Of Birth :</b></td>
                                <td>01-01-0000</td>
                            </tr>
                            <tr>
                                <td class="span3"><b>Batch No :</b></td>
                                <td>...</td>
                            </tr>
                            <tr>
                                <td class="span3"><b>Gender :</b></td>
                                <td>Male</td>
                            </tr>
                            <tr>
                                <td class="span3"><b>Present Address :</b></td>
                                <td>House no#0000, Road ,Colony, Peshawar</td>
                            </tr>
                            <tr>
                                <td class="span3"><b>Permanent Address :</b></td>
                                <td>House no#0000, Road ,Colony, Peshawar</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <!-- Widget Body End -->

        </div>
        <!-- WIDGET END -->

    </div>
</div>
<!-- PAGE CONTENT END -->