<div class="row-fluid" ng-controller="class4_Controller">
    <div class="span12">

        <!-- WIDGET START -->
        <div class="widget">

            <!-- Widget Title Start -->
            <div class="widget-title">
                <h4><i class="icon-reorder"></i> Waiting List For BPS-1 to BPS-11 (Class-IV ONLY)</h4>
                <span class="tools">
                    <a href="javascript:;" class="icon-chevron-down"></a>
                    <!--<a href="javascript:;" class="icon-remove"></a>-->
                </span>
            </div>
            <!-- Widget Title End -->

            <!-- Widget Body Start -->
            <div class="widget-body">
                
                <!-- Flash Message -->
                <div flash-message="3000"></div>
                <!--<div flash-message="5000"></div>-->

                <div class="center">
                    <h4><b>Waiting List For BPS-1 to BPS-11 (Class-IV ONLY)</b></h4>
                </div>

                <table class="table table-striped table-bordered" align="center" datatable="" dt-options="dtOptions" dt-columns="dtColumns" class="row-border hover">
                </table>

            </div>
            <!-- Widget Body End -->
            
        </div>
        <!-- WIDGET END -->

    </div>
</div>