<div id="page" class="dashboard">

    <!-- NOTIFICATION START -->
    <div class="alert alert-info">
        <button data-dismiss="alert" class="close">×</button>
        Welcome to the <strong>House Allotment Management System</strong>
    </div>
    <!-- NOTIFICATION END -->

    <!-- CUSTOM BUTTONS ROW START -->
    <div class="row-fluid">
        <div class="span12">

            <!-- CUSTOM BUTTONS WITH ICONS PORTLET START -->
            <div class="row-fluid">
                <a href="#/add_house" class="icon-btn span2">
                    <i class="icon-group"></i>
                    <div>Add House</div>
                    <span class="badge badge-important">2</span>
                </a>

                <a href="#/search_house" class="icon-btn span2">
                    <i class="icon-barcode"></i>
                    <div>Search House</div>
                    <span class="badge badge-success">4</span>
                </a>

                <a href="#/availabe_houses" class="icon-btn span2">
                    <i class="icon-group"></i>
                    <div>Availabe Houses</div>
                    <span class="badge badge-important">2</span>
                </a>

                <a href="#/availabe_houses" class="icon-btn span2">
                    <i class="icon-group"></i>
                    <div>Occupied Houses</div>
                    <span class="badge badge-important">2</span>
                </a>

                <a href="#/colony" class="icon-btn span2">
                    <i class="icon-barcode"></i>
                    <div>Add Colony</div>
                    <span class="badge badge-success">4</span>
                </a>

                <a href="#/colony" class="icon-btn span2">
                    <i class="icon-barcode"></i>
                    <div>Search Colony</div>
                    <span class="badge badge-success">4</span>
                </a>
            </div>
            
            <div class="row-fluid">
                <a href="#/add_employee" class="icon-btn span2">
                    <i class="icon-group"></i>
                    <div>Add Employee</div>
                    <span class="badge badge-success">4</span>
                </a>

                <a href="#/search_employee" class="icon-btn span2">
                    <i class="icon-search"></i>
                    <div>Search Employee</div>
                    <span class="badge badge-success">4</span>
                </a>
            </div>
            
            <div class="row-fluid">
                <a href="#/wl1" class="icon-btn span2">
                    <i class="icon-bar-chart"></i>
                    <div>W.L (BPS-20 and Above)</div>
                </a>

                <a href="#/wl2" class="icon-btn span2">
                    <i class="icon-bar-chart"></i>
                    <div>W.L (BPS 17-19) P3</div>
                </a>

                <a href="#/wl3" class="icon-btn span2">
                    <i class="icon-bar-chart"></i>
                    <div>W.L (BPS 17-19) General</div>
                </a>

                <a href="#/FifteenToSixteenSec" class="icon-btn span2">
                    <i class="icon-bar-chart"></i>
                    <div>W.L (BPS 15-16) Secretraiat</div>
                </a>

                <a href="#/TwelveToFourteenSec" class="icon-btn span2">
                    <i class="icon-bar-chart"></i>
                    <div>W.L (BPS 12-14) Secretraiat</div>
                </a>

                <a href="#/TwelveToFourteenAttached" class="icon-btn span2">
                    <i class="icon-bar-chart"></i>
                    <div>W.L (BPS 12-14) Attached</div>
                </a>

            </div>
            <div class="row-fluid">
                <a href="#/OneToElevenSec" class="icon-btn span2">
                    <i class="icon-bar-chart"></i>
                    <div>W.L (BPS 1-11) Secretraiat</div>
                </a>

                <a href="#/OneToElevenAttached" class="icon-btn span2">
                    <i class="icon-bar-chart"></i>
                    <div>W.L (BPS 1-11) Attached</div>
                </a>

                <a href="#/class4" class="icon-btn span2">
                    <i class="icon-bar-chart"></i>
                    <div>W.L (BPS 1-11) Class-IV</div>
                </a>
            </div>
                



            <div class="row-fluid">
                <a href="#/bps" class="icon-btn span2">
                    <i class="icon-bullhorn"></i>
                    <div>Basic Pay Scale</div>
                </a>

                <a href="#/department" class="icon-btn span2">
                    <i class="icon-map-marker"></i>
                    <div>Department</div>
                </a>

                <a href="#/designation" class="icon-btn span2">
                    <i class="icon-money"></i>
                    <div>Designation</div>
                </a>

                <a href="#/directoriate" class="icon-btn span2">
                    <i class="icon-plane"></i>
                    <div>Directorate</div>
                    <span class="badge badge-info">21</span>
                </a>
            </div>
            <!-- CUSTOM BUTTONS WITH ICONS PORTLET END -->

        </div>
    </div>
    <!-- CUSTOM BUTTONS ROW END -->

</div>