
<div class="login-header">
  <!-- BEGIN LOGO -->
  <div id="logo" class="center">
      <img src="img/logo.png" alt="logo" class="center" />
  </div>
  <!-- END LOGO -->
</div>

<!-- BEGIN LOGIN -->
<div id="login">
<!-- BEGIN LOGIN FORM -->
<form name="form" ng-submit="vm.login()" role="form">
  <div class="lock">
      <i class="icon-lock"></i>
  </div>
  <div class="control-wrap">
      <h4>User Login</h4>
      
      <div class="control-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
          <div class="controls">
              <div class="input-prepend">
                  <span class="add-on"><i class="icon-user"></i></span>
                  <input type="text" name="username" id="username" class="form-control" ng-model="vm.username" placeholder="Username" required />
                  <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
              </div>
          </div>
      </div>
      
      <div class="control-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
          <div class="controls">
              <div class="input-prepend">
                  <span class="add-on"><i class="icon-key"></i></span>
                  <input type="password" name="password" id="password" class="form-control" ng-model="vm.password" placeholder="Password" required />
                  <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
              </div>
              <div class="mtop10">
                  <div class="block-hint pull-left small">
                      <input type="checkbox" id=""> Remember Me
                  </div>
                  <div class="block-hint pull-right">
                      <a href="#/register" class="" id="forget-password">Register</a>
                  </div>
              </div>

              <div class="clearfix space5"></div>
          </div>

      </div>
  </div>

  <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-block login-btn">Login
    &nbsp;&nbsp;<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /></button>
</form>
<!-- END LOGIN FORM -->        

</div>
<!-- END LOGIN -->
<!-- BEGIN COPYRIGHT -->
<div id="login-copyright">
  <!-- 2015 © www.RedStuioWeb.com - www.CodeForPakistan.com -->
</div>
<!-- END COPYRIGHT -->